body,a{color:#333333;}
.fc01{color:#fffffe;}
.fc02,.fc02 a{color:#818181;font-size:14px;}
.fc03,.fc03 a,.fc04,.fc04 a,.fc11 a{color:#58992a;}
.fc05{color:#333333;}
.fc06,.fc07{color:#9f9f9f;}
.fc08{color:#aaaaaa;}
.fc00,.fc09{color:#ffffff;}
.fc10{color:#aaaaaa;}
.bdc0{border-color:#aaaaaa;}
.bdc1{border-color:#417b12;}
.bdc9t{border-top-color:#ccced0;}
.bdc9r{border-right-color:#ccced0;}
.bdc9b{border-bottom-color:#ccced0;}
.bdc9l{border-left-color:#ccced0;}
.bgc0,.bgc9:hover,.bgc9.js-bgc9-hover{background-color:#eeeeee;}
.bgc1{background-color:#ccced0;}
.bgc2{background-color:#6ab32e;}
.bgp0{background-image:url(http://b.bst.126.net/newpage/style/nblog/4178/img/-1.gif);}
.nb-body{background:url(http://img.bimg.126.net/photo/WOmmaYjIRh1cL6vus5hf7w==/5781777496613668265.jpg) #eeeeee no-repeat center top ;}
.nb-bar{background:none #6ab32e repeat left top;}
.nb-top{background:url(http://img.bimg.126.net/photo/ie4FZYO-IbJDbRAcQkoWrg==/5782621921543800209.jpg) #ccced0 no-repeat center top;}
.nb-top .h{height:206px;}
.nb-top .t{top:104px;left:165px;font-family:ו;color:#3a3a3a;}
.nb-top .n{font-size:32px;}
.nb-top .d{font-size:18px;}
.nb-nav .wkg{background:url(http://img.bimg.126.net/photo/ZSbvUilBR1PVF2IlACR5Ag==/5782621921543800253.jpg) #e9e9e9 no-repeat center top;}
.nb-nav .h{height:63px;line-height:63px;}
.nb-nav .c{margin-left:50px;}
.nb-nav .i{width:67px;font-weight:bold;font-size:14px;}
.nb-nav .i:hover{font-weight:bold;font-size:14px;color:#024104;background:none transparent no-repeat center top;}
.nb-nav .selected{background:none transparent no-repeat center top;}
.nb-nav .selected .i,.nb-nav .selected .i:hover{font-weight:bold;font-size:14px;color:#024104;background:none;}
.nb-smt{display:block;background:url(http://img.bimg.126.net/photo/9ugdoo9FK-H80XMAeGpi5g==/5779244221823300646.jpg) transparent no-repeat center top;}
.nb-smt .h{height:33px;}
.nb-cnt .wkg{background:url(http://img.bimg.126.net/photo/Y3PEoBlxK22Nqm14KYU9ew==/5781777496613668331.jpg) #ccced0 repeat center top;}
.nb-cnt .wl{width:50px;}
.nb-cnt .lg{display:block;background:none transparent repeat left top;}
.nb-cnt .wr{width:50px;}
.nb-cnt .rg{display:block;background:none transparent repeat right top;}
.nb-cnt .wc{margin:0 25px 0 40px;min-height:560px;_height:560px;}
.nb-fot{background:url(http://img.bimg.126.net/photo/MekmEK6u19F4rn-I3g25cQ==/5779244221823300628.jpg) #e9e9e9 no-repeat center top;}
.nb-fot .h{height:232px;}
.nb-fot .k{padding-top:30px;}
.nb-mdl{margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl .th{height:38px;}
.nb-mdl .bh{height:0px;}
.nb-mt .tm{top:0;right:10px;line-height:25px;}
.nb-mt .tc{margin:0 5px 0 6px;height:38px;line-height:25px;font-size:14px;font-weight:bold;background:url(http://img.bimg.126.net/photo/egRM0ELB4PD73l0Ja8orYg==/5782621921543800348.jpg) transparent repeat-x center bottom;}
.nb-mt .tc .thide{font-size:14px;}
.nb-mt .tl{width:6px;background:url(http://img.bimg.126.net/photo/HUIZkU_ktQoubbR6cG3xsQ==/5782621921543800347.jpg) transparent no-repeat center bottom;}
.nb-mt .tr{width:5px;background:none transparent no-repeat center bottom;}
.nb-mc .cc{margin:0 10px 0 10px;background:none transparent repeat center top;}
.nb-mc .cl{width:10px;background:none transparent repeat-y left top;}
.nb-mc .cr{width:10px;background:none transparent repeat-y right top;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.nb-top .d{text-align:left;text-indent:2em;padding-left:0;}